<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<script type="text/javascript" src="/js/lib/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="/js/lib/Chart.min.js"></script>
		<script type="text/javascript" src="/js/lib/chartjs-plugin-streaming.min.js"></script>
	</head>
	<body>
		<h1>telemetry data</h1>

		<h2>acc data</h2>
		<canvas id="acc-chart"></canvas>

		<h2>gyro data</h2>
		<canvas id="gyro-chart"></canvas>
		<script type="text/javascript" src="/js/draw.js"></script>
	</body>
</html>
